<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Show FAV</h3>
      <% favorites.forEach(function(favorite) { %>
        <h4>
          <form method="POST" action="/favs/<%= favorite._id %>?_method=DELETE">
            <a href="/favs/<%= favorite._id %>">
              <%= favorite.name %>
            </a>
            <a> <%= favorite.placeID %></a>
            <a> <%= favorite.kravingName %></a>

            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>

    <a href="/kravings" class="btn btn-primary">Back</a>
    <a href="/favs/info2" class="btn btn-primary">Info2</a>

 </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
